<!DOCTYPE html>
<html>
    <head>
        <title>Device Tracker!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    </head>



    <body>
        <br />
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Device Tracker</h2>
            </div>
        </div>

        <hr style="width: 50%; position: relative; margin-left: auto; margin-right: auto;"/>

        <div class="row">
            <div class="col-lg-6 offset-3">
                <div id="chart_container"></div>
            </div>
        </div>

        <script>
            Highcharts.chart('chart_container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Device Entries Recorded'
                },
                
                xAxis: {
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Number of records'
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: "Sample 1",
                    data: [10]
                },
                {
                    name: "Sample 2",
                    data: [15]
                }]
            });
        </script>
    </body>
</html>